extends layout

block content
  form(action='',method='POST')
    h1 Submit Your Vote 
    p
      label
        input(type="radio",id="1",name="vote",value="1",checked) 
        span Beer
    p
      label
        input(type="radio",id="2",name="vote",value="2") 
        span Wine
    p
      label
        input(type="radio",id="3",name="vote",value="3") 
        span Champagne
    p
      button(type="submit") Submit

