extends layout

block content
  .row.column
    h1 Voting Results
  .row
    .large-4.columns
      table
        tr
          td Beer votes
          td.text-right #{count1}
        tr
          td Wine votes 
          td.text-right #{count2}
        tr
          td Champagne votes 
          td.text-right #{count3}
        tr
          td Overall votes
          td.text-right #{count}
